[character]
error_symbol = "[🎣]()"
success_symbol = "[🐟]()"

[directory]
truncation_symbol = "…/"

{{ if eq (index . "work") "true" }}}
[package]
disabled = true

[container]
disabled = true
{{ end }}
